body {
    background-color: #2b1165;
    background: linear-gradient(
        180deg,
        #2b1165 0%,
        rgba(26, 58, 130, 1) 37%,
        rgb(134, 28, 139) 69%,
        #9b2847 100%
    );
    font-family: monospace;
    color: rgba(255, 255, 255, 0.8);
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.subtitle {
    font-size: 20px;
}

h1 {
    letter-spacing: 10px;
    font-size: 100px;
}

h2 {
    letter-spacing: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
}

h1,h2, .subtitle {
    text-align: center;
}

h3 {
    padding-top: 30px;
    padding-bottom: 10px;
}

p {
    letter-spacing: 2px;
    word-spacing: 5px;
}